# dune
_build/
*.install

# ocaml
*.cm[iox]
*.annot
*.cmt*
*.merlin

# editor
*.swp
*~
.DS_Store

*.exe
*.bc
CLAUDE.md

# build system
third_party/bazel/bazel
.bazelisk/
bazel-*
.tools/
_opam/
env.sh
.bazelrc
MODULE.bazel.lock
